
.about-flex {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 90%;
    margin: 5rem auto 5rem;
    padding: 0 1rem;
}

.about-flex h4 {
    color: var(--accent-color);
}

.about-head h3 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
    white-space: nowrap;
    text-align: left;
}

.about-contact a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: bold;
}

.about-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;

}




.about-card {
    padding: 1rem;
    width: 100%;
    border-radius: 12px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.7);
    background-color: rgba(255, 255, 255, 0.05);
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* background-color: rgba(0, 0, 0, 0.1); */
    margin: .5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1rem;
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
}

.about-card h4 {
    font-size: 2rem;
}

.about-card p {
    font-size: 1.1rem;
}
/* 
.group2 {
    text-align: center;
} */

.card-sub-flex {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
}

.card-sub-flex img {
    margin-top: -3rem;
}

.about-image {
    z-index: 2;
    /* position: absolute; */
    /* top: -6rem;
    right: 0rem;    */
    transform-style: preserve-3d;
    transform: perspective(800px) rotateY(-60deg) rotateZ(5deg) rotateX(5deg); 
    opacity: 0; 
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.about-image.visible {
    transform: perspective(800px) rotateY(-35deg) rotateZ(5deg) rotateX(5deg); 
    opacity: 1; 
    animation: rotate 3s ease-in-out infinite;
}

@keyframes rotate {
    0% {
        transform: rotateY(-35deg)
        rotateY(5deg)
        rotateZ(5deg);
    }
    50% {
        transform: rotateY(-40deg) 
        rotateY(4deg)
        rotateZ(4deg);
    }

    100% {
        transform: rotateY(-35deg) 
        rotateY(5deg)
        rotateZ(5deg);
    }
}

@media (max-width: 1440px) {
    .about-image {
        height: 50%;
        right: -2rem;
        top: -2rem;
    }
}


@media (max-width: 1126px) {
    
    .about-head h3 {
        white-space: normal;
    }
}

@media (max-width: 1024px) {
    .about-flex {
        width: 90%;
    }
    
    .about-head h3 {
        width: 70%;
    }

    .about-body {
        width: 100%;
    }
    
    .about-card h4 {
        font-size: 1.5rem;
    }
    .about-card p {
        font-size: 1rem;
    }

    .about-image {
        height: 50%;
        top: -3rem;
    }
}

@media (max-width: 768px) {
    .about-flex {
        width: 100%;
        margin: 0 auto;
    }
    .about-head h3 {
        font-size: 2.5rem;
        margin-bottom: 0rem;
    }
    
    .about-body {
        flex-direction: column;
        gap: 0;
        margin: 0 auto;
        width: 100%;
    }

    .about-card {
        margin: 1rem auto;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    .about-card.visible {
        opacity: 1;
    }
    .about-image {
        height:250px;
        width: 250px;
        top: -3.5rem;
        right: 1rem;
    }
}

@media (max-width: 500px) {
    .about-image {
        height: 125px;
        width: 125px;
        top: 1rem;
        right: -.5rem;
    }
}
