
.about-flex {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: start;
    width: 80%;
    margin: 0 auto;
    padding: 0 1rem;
}

.about-flex h4 {
    color: var(--accent-color);
}

.about-head h3 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
    white-space: nowrap;
}

.about-contact a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: bold;
}

.about-body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 1rem;
    width: 80%;
}

.about-card {
    padding: 1rem;
    width: 100%;
    border-radius: 12px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.7);
    background-color: rgba(255, 255, 255, 0.05);
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* background-color: rgba(0, 0, 0, 0.1); */
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1rem;
    backdrop-filter: blur(10px);
}

.about-card h4 {
    font-size: 2rem;
}

.group2 {
    text-align: center;
}

.special-card {

}

.about-image {
    z-index: -1;
    position: absolute;
    height: 75%;
    right: -4rem;
    top: -5rem;
    transform: perspective(800px) rotateY(-60deg) rotateZ(5deg) rotateX(5deg); 
    opacity: 0; 
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.about-image.visible {
    transform: perspective(800px) rotateY(-35deg) rotateZ(5deg) rotateX(5deg); 
    opacity: 1; 
}


@media (max-width: 1126px) {
    .about-head h3 {
        white-space: normal;
    }
}

