:root {
  --body-bkg: #09103C;
  --main-text: #fff;
  --accent-color: #88C82D;
  --accent-color-dark: #70b017;
  --navbar-bkg: rgba(9, 16, 60, 0.7);
  --body-lighter: #121945;
  --body-darker: #0b102c;
}

body {
  background-color: var(--body-bkg);
  color: var(--main-text);
  padding: 8rem 0 0 0;
  margin: 0;
  display: block;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}
