.certification-bg {
    display: block;
    width: 72.5%;
    margin: 2rem auto;
    /* border: 2px solid red; */
    box-shadow: 4px 4px 8px black;
    border-radius: 12px;
    background-image: url('/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .certification-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 3rem auto;
    text-align: center;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: scale(0.8); 
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  
  .certification-container.in-view {
    opacity: 1;
    transform: scale(1.01);
  }
  
  .header-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-container h3 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .certifcation-content-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
  }
  
  .certification-content-container p {
    font-size: 1.5rem;
  }
  
  .highlight {
    color: var(--accent-color);
    font-weight: bold;
  }
  
  @media (max-width: 1024px) {
    .certification-bg {
      width: 90%;
    }
  
    .certification-content-container p {
      font-size: 1.15rem;
    }
  }
  