.contact-container-lg {
    width: 90%;
    margin: 0 auto;
}

.contact-header-lg h3 {
    font-size: 3rem;
}

.contact-body-lg {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    gap: 1rem;
    border-radius: 12px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.7);
    background-color: var(--body-lighter);
    
}
.contact-image-lg {
    position: relative;
}

.contact-image-lg img {
    object-fit: cover;
    width: 500px;
    height: 100%;
    border-radius: 12px 0 0 12px;
}

.contact-image-lg::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background: linear-gradient(to right, transparent, var(--body-lighter));
    pointer-events: none;
    z-index: 1;
}

.contact-content-lg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    gap: 1rem;
}

.contact-content-lg h4 {
    font-size: 2.5rem;
}

.container-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 1rem;
    
    justify-content: start;
}

.container-links p {
    transform: translateY(25%);
    color: var(--main-color);
}

.container-links a {
    text-decoration: none;
    color: var(--accent-color);
}


@media (max-width: 1024px) {
    .contact-image-lg img {
        width: 350px;
    }
}

@media (max-width: 969px) {
    .contact-content-lg h4 {
        font-size: 2.25rem;
    }
}

@media (max-width: 917px) {
    .contact-image-lg img {
        width: 300px;
    }
}

@media (max-width: 862px)   {
    .contact-body-lg {
        height: 180px
    }
    
    .contact-image-lg img {
        width: 250px;
    }

    .contact-image-lg::after {
        width: 50%;
    }

    .contact-content-lg h4 {
        font-size: 1.75rem;
    }

    .contact-content-lg {
        gap: .75rem;
    }

    .contact-container-lg h3 {
        width: 100%;
        font-size: 2.75rem;
    }
}

@media (max-width: 736px) {

    .contact-image-lg {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding-left: .5rem;
           
    }
    .contact-image-lg img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.7);

    }

    .contact-image-lg::after {
        background: none;
        
    }

    .contact-content-lg h4 {
        font-size: 2rem;
    }

    .contact-content-lg {
        gap: .25rem;
    }

    .contact-container-lg h3 {
        width: 100%;
        font-size: 2.75rem;
    }
}

@media (max-width: 653px) {
    .contact-container-lg h3 {
        width: 100%;
        font-size: 2rem;
        margin-top: 2rem;
    }

    .contact-image-lg img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 600px) {
    .contact-body-lg h4 {
        font-size: 1.5rem;
    }
    .contact-body-lg {
        gap: .7rem;
    }

    .contact-content-lg {
        gap: .5rem;
    }
}


@media (max-width: 588px) {
    .contact-body-lg {
        flex-direction: row-reverse;
    }

    .contact-image-lg img {
        width: 75px;
        height: 75px;
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
    }

    .contact-content-lg {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        padding: 1rem;
        gap: .5rem;
    }
    
    .contact-content-lg h4 {
        font-size: 1.5rem;
    }
    
    .container-links {
        flex-direction: row;
        gap: .5rem;
        margin-left: 0;
        justify-content: start;
        width:100%;
        font-size: .75rem;

    }
}

@media (max-width: 400px) {
    .contact-image-lg img {
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
    }

    .contact-content-lg h4 {
        font-size: 1.25rem;
    }
}