.cta-container {
  text-align: center;
  margin: 2rem auto;
  width: 40%;
  position: relative;
  border: 3px solid #ffffff1d;
  border-radius: 11px;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--main-text);
  transform: scale(0.8);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.cta-container.in-view {
  transform: scale(1);
  opacity: 1;
}

.cta-background {
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
  filter: blur(3px);
  border-radius: 8px;
}

.cta-message {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--main-text);
}

@media (max-width: 1024px) {
  .cta-container {
    width: 90%;
  }
}