.navbar-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(9, 16, 60, 0.5); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000;
  box-shadow: 0 2px 5px black;
  /* margin-bottom: 4rem; */
  align-items: center;
}


.navigation-container {
  display: flex;
  justify-content: space-between;
  width: 72.5%;
  align-items: center;
  margin: 0 auto;
}

.nav-subheadings {
  display: flex;
  justify-content: end;
  flex-grow: 1;
  margin-left: 20px;
  gap: 1rem;
  letter-spacing: .11rem;
}   

.nav-subheadings a {
  margin: 0 15px;
  cursor: pointer;
  color: var(--main-text);
  font-size: 1.15rem;
  text-decoration: none;
}

.nav-subheadings a:hover {
  color: var(--accent-color);
}

.btn-light {
  margin-left: 20px;
}

.offcanvas {
  background-color: var(--body-bkg);
  height: 100vh;
}

.offcanvas-body p {
  color: var(--main-text);
  font-size: 1.5rem;
  margin: 1rem 6rem;
}




.join-btn {
  border: 2px solid var(--accent-color);
  border-radius: 30px;
  /* width: 15.625rem; */
  text-decoration: none;
  padding: 10px 15px; 
  font-size: 1.15rem;
  background-color: var(--body-bkg); 
  color: var(--main-text); 
  cursor: pointer; 
}
.join-btn:hover {
  background-color: var(--accent-color);
  color: var(--main-text);
  cursor: pointer;
  transition: .25s ease-in-out;
  transition: .15s ease-in-out;
  transform: scale(1.05);
}


@media (max-width: 880px) {
  .navigation-container {
    width: 95%;
  }

  .nav-subheadings {
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
    letter-spacing: .11rem;
    margin-bottom: 2rem;
  }   

  .join-btn:hover {
    background-color: var(--accent-color);
    color: var(--main-text);
    cursor: pointer;
    transition: .25s ease-in-out;
    transform: scale(1.05);
  }
}

