.navbar-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(9, 16, 60, 0.5); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
    padding: 0 20px;
    box-shadow: 0 2px 5px black;
    margin-bottom: 8rem;
    align-items: center;
  }
  
  
  .navigation-container {
    display: flex;
    justify-content: space-between;
    width: 72.5%;
    align-items: center;
    margin: 0 auto;
  }
  
  .nav-subheadings {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-left: 20px;
    gap: 2rem;
  }
  
  .nav-subheadings p {
    margin: 0 15px;
    cursor: pointer;
    color: var(--main-text);
    font-size: 1.5rem;
  }
  
  .nav-subheadings p:hover {
    color: var(--accent-color);
  }
  
  .btn-light {
    margin-left: 20px;
  }
  
  .offcanvas {
    background-color: var(--body-bkg);
    height: 100vh;
  }
  
  .offcanvas-body p {
    color: var(--main-text);
    font-size: 1.5rem;
    margin: 1rem 6rem;
  }
  
  
  
  
  .join-btn {
    border: 2px solid var(--accent-color);
    border-radius: 30px;
    width: 15.625rem;
    padding: 10px 20px; 
    font-size: 1.25rem;
    background-color: var(--body-bkg); 
    color: var(--main-text); 
    cursor: pointer; 
  }
  .join-btn:hover {
    background-color: var(--accent-color);
    color: var(--main-text);
    cursor: pointer;
    transition: .25s ease-in-out;
    transition: .15s ease-in-out;
  }
  
  @media (max-width: 767px) {
    .navigation-container {
      width: 100%;
    }
    
    .nav-subheadings {
      margin-left: 0;
      gap: .1rem;
    }
    
    .nav-subheadings p {
      margin: 0 15px;
      font-size: 1rem;
    }
  }
  
  @media (min-width: 768px) {
    .navigation-container {
      width: 100%;
    }
    
    .nav-subheadings {
      margin-left: 10px;
      gap: .65rem;
    }
    
    .nav-subheadings p {
      margin: 0 15px;
      cursor: pointer;
      color: var(--main-text);
      font-size: 1.05rem;
    }
  }
  
  @media (min-width: 1024px) {
    .navigation-container {
      width: 90%;
    }
    
    .nav-subheadings {
      margin-left: 0px;
      gap: .65rem;
    }
    
    .nav-subheadings p {
      margin: 0 1.75rem;
      cursor: pointer;
      color: var(--main-text);
      font-size: 1.15rem;
    }
  }
  
  @media (min-width: 1440px) {
    .navigation-container {
      width: 72.5%;
    }
    
    .nav-subheadings {
      margin-left: 0px;
      gap: .65rem;
    }
    
    .nav-subheadings p {
      margin: 0 1.75rem;
      cursor: pointer;
      color: var(--main-text);
      font-size: 1.3rem;
    }
  }
  
  