.navbar-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(9, 16, 60, 0.5); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000;
  box-shadow: 0 2px 5px black;
  align-items: center;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  width: 72.5%;
  align-items: center;
  margin: 0 auto;
}

.nav-subheadings {
  display: flex;
  justify-content: end;
  gap: 1rem;
  letter-spacing: .11rem;
  list-style-type: none;
  padding-top: 1rem;
}

.nav-subheadings li a {
  margin: 0 15px;
  cursor: pointer;
  color: var(--main-text);
  font-size: 1.15rem;
  text-decoration: none;
}

.nav-subheadings li a:hover {
  color: var(--accent-color);
}

.mobile-menu .dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--body-darker);
  border: none;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
  font-size: 0.9rem;
  min-width: 230px;
  padding: 0.5rem 1rem;
  ;
}

.dropdown-toggle:hover + .dropdown-menu, .dropdown-menu:hover {
  display: block;
}

.dropdown-menu li {
  margin: 0.5rem 0;
}

.dropdown-menu li a {
  font-size: 0.95rem;
}

.join-btn {
  border: 2px solid var(--accent-color);
  border-radius: 30px;
  padding: 10px 20px; 
  font-size: 1.25rem;
  background-color: var(--body-bkg); 
  color: var(--main-text); 
  cursor: pointer; 
  transition: .25s ease-in-out;
}

.join-btn:hover {
  background-color: var(--accent-color);
  color: var(--main-text);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .nav-subheadings {
    display: none;
  }

  .mobile-menu {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .mobile-menu .dropdown-toggle {
    border: 2px solid var(--accent-color);
    padding: 10px;
    background-color: var(--body-bkg);
    color: var(--main-text);
    cursor: pointer;
    border-radius: 30px;
  }

  .mobile-menu .dropdown-menu {
    width: 100%;
    text-align: center;
  }

  .dropdown-menu li a {
    padding: 10px;
    display: block;
    color: var(--main-text);
  }
}
