.nursify-team {
    text-align: center;
    color: var(--main-text);
    width: 95%;
    margin: 3rem auto 3rem;
  }
  
  .nursify-team h3 {
    font-size: 4.6875rem;
    margin-bottom: 20px;
  }
  
  .nursify-team .highlight {
    color: var(--accent-color);
    font-weight: bold;
  }
  
  .toggle-switch {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    width: 60%;
    margin: 3rem auto;
  }
  
  .toggle-switch .toggle-option {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    flex: 1;
    text-align: center;
    border-radius: 50px;
    z-index: 1;
    position: relative;
    font-size: 1.5rem;
  }
  
  .toggle-switch .toggle-option.active {
    background-color: var(--accent-color);
    color: var(--main-text);
  }
  
  .toggle-switch .toggle-option:not(.active) {
    color: var(--body-bkg);
  }
  
  .toggle-switch .toggle-background {
    position: absolute;
    top: 10px;
    bottom: 10px;
    width: 50%;
    background-color: var(--accent-color);
    box-shadow: var(--box-shadow);
    border-radius: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 0;
  }
  
  .team-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  
  .team-content .image-column img {
    width: auto;
    height: 385px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
  }
  
  .team-content .bio-column {
    text-align: left;
    font-size: 1.25rem;
    line-height: 2;
    width: 95%;
  }

  .bio-column a {
    color: var(--accent-color);

  }

  @media (max-width: 925px) {
    .team-content .bio-column {
      font-size: 1.15rem;
      line-height: 1.75;
    }
  }
  
  @media (max-width: 768px) {
    .nursify-team {
      width: 95%;
      margin: 5rem auto 3rem;
    }
    
    .nursify-team h3 {
      font-size: 3rem;
      margin-bottom: 20px;
    }
  
    .toggle-switch {
      width: 90%;
    }
  
    .team-content .bio-column {
      text-align: left;
      font-size: 1.25rem;
      line-height: 1.5;
      width: 100%;
    }
  }
  

  @media (max-width: 1024px) {
    .team-content {
      width: 100%;
    }

    .toggle-switch .toggle-option {
      font-size: 1.25rem;
    }

    .nursify-team {
      width: 100%;
    }
  }

  @media (max-width: 853px) {
    .team-content .bio-column {
      font-size: 1.15rem;
    }
  }


  @media (max-width: 768px) { 
    .team-content {
      grid-template-columns: 1fr;
      margin: 0 auto;
    }

    .team-content .bio-column {
      text-align: center;
      margin: 1.5rem auto;
    }

    .toggle-switch .toggle-option{
      font-size: 1rem;
    }
  }

  @media (max-width: 600px) { 
    .toggle-switch {
      width: 90%;
    }
  }

  @media (max-width: 370px) { 
    .toggle-switch .toggle-option{
      font-size: .8rem;
    }
  }

  @media (max-width: 337px) { 
    .toggle-switch .toggle-option{
      font-size: .7rem;
    }
  }

  @media (max-width: 313px) { 
    .toggle-switch .toggle-option{
      font-size: .6rem;
    }
  }