.services-container {
  width: 72.5%;
  margin: 5rem auto 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-container h3 {
  font-size: 4rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.service-highlight {
  color: var(--accent-color);
}

.services-flex-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.services-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 2rem auto;
}

.row-reversed {
  flex-direction: row-reverse;
}

.services-text {
  width: 45%;
  text-align: left;
  font-size: 1.5rem;
}


.services-text h4 {
  font-weight: bold;
  color: white;
  font-size: 2rem;
}

.services-text p {
  font-size: 1.20rem;
}

.services-text a {
  color: var(--accent-color);
  text-wrap:nowrap;
}

.services-image {
  width: 450px;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.7);
  opacity: 0;
  transform: scale(0.8);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.services-image.in-view {
  opacity: 1;
  transform: scale(1);
}


.mobile-service-card {
  position: relative;
  width: 90%;
  height: 450px;
  border-radius: 12px;
  box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.7);
  background-color: var(--body-lighter);
  margin: 3rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 
}

.mobile-service-card h3 {
  position: absolute;
  top: .9rem;
  font-size: 2.25rem;

}

.buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 1rem;
  right: 1rem;
  column-gap: 1rem;  
  
}

.buttons button {
  border: none;
  border-radius: 8px;
  background-color: var(--accent-color);
  color: white;
  padding: 5px 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

.services-header {
  text-align: center;
  margin-top: 2rem;
}

.services-header h3 {
  font-size: 3rem;
}

.swiper {
  width: 325px;
  height: 375px;
  margin: 1rem auto 1rem;
}

.swiper-slide {
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 8px black;
}

.card-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--body-lighter);
  position: relative;
  padding: 1rem .75rem
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-content h4 {
  margin-bottom: 1rem;
  width: 80%;
}

.card-content a {
  color: var(--accent-color);

}

.card-image {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
  /* position: absolute; */
  top: .75rem;
  right: .75rem;
  box-shadow: 4px 4px 8px black;
}

.glass-effect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
  padding: 20px;
  z-index: 2;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.card-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 4rem;
  width: 95%;
}

@media (max-width: 1440px) {
  .services-container {
    width: 80%;
  }
  
  .services-image {
    width: 400px;
    height: 300px;
  }

  .services-text h4 {
    font-size: 1.75rem;
  }
}

@media (max-width: 1326px) {
  .services-text h4 {
    font-size: 1.75rem;
  }
}

@media (max-width: 1163px) {
  .services-text h4 {
    font-size: 1.65rem;
  }

  .services-text p {
    font-size: 1.15rem;
  }

  .services-text {
    width: 46.5%;
  }
}



@media (max-width: 1150px) {
  .services-container {
    width: 90%;
  }
  
  .services-image {
    width: 375px;
    height: 275px;
  }
}

@media (max-width: 1046px) {
  .services-text h4 {
    font-size: 1.6rem;
  }
}

@media (max-width: 1014px) {
  .services-text h4 {
    font-size: 1.55rem;
  }
}

@media (max-width: 981px) {
  .services-text h4 {
    font-size: 1.45rem;
  }

  .services-text p {
    font-size: 1.1rem;
  }
}


@media (max-width: 927px) {
  .services-container {
    width: 100%;
  }

  .services-container h3 {
    font-size: 3rem;
    margin-top: -2rem;
  }

  
  .services-text h4 {
    font-size: 1.5rem;
  }

  .services-text p {
    font-size: 1.05rem;
  }

  .services-image {
    width: 350px;
    height: 200px;
  }
}

@media (max-width: 855px) {
  .services-text h4 {
    font-size: 1.2rem;
  }
}

@media (max-width: 789px) {  
  .services-container h3 {
    font-size: 2.5rem;
  }


  .services-text h4 {
    font-size: 1.15rem;
  }
  
  .services-text p {
    font-size: .95rem;
  }
  
  .services-image {
    width: 300px;
    height: 200px;
  }
  
}

/* @media (max-width: 690px) {
  restructure component to card format with parallax(?) + autoplay/grabber
} */