.services-container {
  width: 72.5%;
  margin: 5rem auto 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-container h3 {
  font-size: 4rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.service-highlight {
  color: var(--accent-color);
}

.services-flex-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.services-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 2rem auto;
}

.row-reversed {
  flex-direction: row-reverse;
}

.services-text {
  width: 50%;
  text-align: left;
  font-size: 1.5rem;
}

.services-text h4 {
  font-weight: bold;
  color: var(--accent-color);
  font-size: 2rem;
}

.services-text p {
  font-size: 1.25rem;
}

.services-image {
  width: 450px;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.7);
  opacity: 0;
  transform: scale(0.8);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.services-image.in-view {
  opacity: 1;
  transform: scale(1);
}

